.wrapper {
  width: 600px;
  height: 700px;
  margin: 0 auto;
  padding-top: 1px;
  user-select: none;
  background-color: #698888;
  border-radius: 10px;  
}

.control-container {
  display: flex;
  width: 500px;
  height: 40px;
  margin: 10px auto;
  justify-content: space-around;
  align-items: center; 
}

.control-button {
  height: 25px;
  border-radius: 5px;
  cursor: pointer; 
}

.control-button:hover {
  background-color: #d7fa9e;
}

.game-state {
  display: flex;
  width: 500px;
  height: 30px;
  margin: 0 auto;
  justify-content: space-around;
}

.game-state label {
  font-size: 26px;
}

.game-state label:nth-child(2n) {
   margin: 0 100px 0 10px; 
}

.game-state label:first-child {
  margin: 0 0 0 100px;
}

.game-field {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.key {
  display: flex;
  width: 23%;
  height: 23%;
  margin: 3px;
  position: absolute;
  z-index: 2;
  justify-content: center;
  align-items: center;
  border: 3px solid #c59454;
  border-radius: 5px;
  background-color: #4d64eb;
  cursor: pointer;
  user-select: none;  
  transition: 0.3s linear;
}

.key:hover {
  border-color: #584a38;
}

.key-empty {
  width: 23%;
  height: 23%;
}

.key span {
  font-size: 26px;
  font-weight: 900;
}

.rigth-position {
  border: 3px solid #16ff2ace;
}

.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #5f9ea083;
}

.message {
  width: 400px;
  height: 400px;
  margin: 20px calc(50% - 200px);
  background-color: #ffffffd2;
  border: 2px solid #0000ff;
  border-radius: 10px;
}

.message-header {  
  text-align: center;
}

.message-body {
  font-size: 20px;
  text-align: center;
}

.ok-button {
  width: 50px;
  height: 38px;
  margin: 10px calc(50% - 25px);
  font-size: 20px;
  line-height: 22px;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  outline: 0;
  outline-offset: 0;
}

.ok-button:hover {
  background-color: #eedd99;
}

.size-container {
  display: flex;
  width: 500px;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  align-items: center; 

  background-color: burlywood;
}

.button-gamesize {
  width: 30px;
  height: 30px;
  margin: 0 20px;
  font-size: 25px;
  cursor: pointer;
}

.gamesize {
  font-size: 25px;
}